
*{
    margin: 0px;
    box-sizing: border-box;
}

.header{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('header_div_back_img.png');
    box-shadow: 0px 0px 10px 0px gray;
}

.header-content-links, .header-content-logo{
    display: flex;
}

.header-content{
    width: auto;
    margin-left: 20px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.page_links{
    text-decoration: none;
    color: white;
}

.page_links:hover{
    box-shadow: 0px 0px 15px 10px rgb(226, 224, 224);
}

#three-line-logo{
    height: 30px;
    width: 30px;
    margin-right: 50px;
    border-radius: 10%;
    box-shadow: 0px 0px 15px 0px rgb(209, 208, 208);
}

#three-line-logo:hover{
    box-shadow: 0px 0px 15px 10px rgb(218, 216, 216);
}

.header-content a{
    align-items: center;
    justify-content: center;
}

.description{
    height: 580px;
    position: relative;
    background-image: url('software_back_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.my-name{
    position: relative;
    padding: 80px 0px 0px 100px;
    font-size: 40px;
}

.my-details{
    position: relative;
    padding: 30px 0px 0px 200px;
    font-size: 15px;
}

.my-img{
    height: 200px;
    position: fixed;
    top: 100px;
    left: 70%;
    border: 5px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.my-img img{
    height: 210px;
    width: 190px;
}

.footer-content{
    height: 95px;
    position: relative;
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 0px 15px 0px rgb(97, 96, 96);
}

.footer-content a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.id_name{
    padding-left: 10px;
    color: white;
    font-size: 15px;
}

#linkedin-img, #github-img, #gmail-img{
    height: 20px;
    width: 20px;
    border-radius: 20%;
}

.footer_profile_link:hover{
    box-shadow: 0px 0px 15px 0px rgb(209, 208, 208);
}








