*{
    box-sizing: border-box;
    margin: 0px;
}

.header{
    position: relative;
    height: 200px;
    display: flex;
    background-image: url('header_div_back_img.png');
    background-size: cover;
}

.header-img-container{
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img{
    position: relative;
    height: 150px;
    width: 150px;
    border: solid 4px black;
    border-radius: 50%;
}

.description{
    position: relative;
    width: 60%;
    color: rgb(214, 213, 213);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.id_links{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#linkedin, #github, #email{
    position: relative;
    margin-top: 10px;
    height: 20px;
    color: rgb(214, 213, 213);
    text-decoration: none;
    display: flex;
}

#gmail_img, #linkedin_img, #github_img{
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 25%;
}

.heading{
    padding: 50px 0px 20px 50px;
    font-size: 20px;
    background-image: url('back-img.png');
}

.heading_design{
    display: block;
    padding: 20px;
    height: 60px;
    width: 200px;
    background-image: url('heading_back_designer_img.png');
    background-size: cover;
}
.education_details{
    position: relative;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('back-img.png');
}

.mcse, .bcse, .hse, .se{
    position: relative;
    border: solid 1px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.edu_details{
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#ju_logo, #makaut_logo{
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.cover{
    position: relative;
    height: 250px;
    background-image: url('back-img.png');
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    position: relative;
    width: 90%;
    background-color: rgb(44, 43, 43);
    box-shadow: 0px 0px 5px 0px rgb(15, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.skill{
    position: relative;
    height: 60px;
    padding: 0px 20px 0px 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 5%;
    box-shadow: 0px 0px 5px 0px rgb(209, 208, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}

.coding_profile{
    position: relative;
    height: 400px;
    width: 100%;
    background-image: url('back-img.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coding_profile_links{
    position: relative;
    margin-left: 40px;
    display: flex;
}

.coding_profile_link{
    position: relative;
    height: 60px;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgb(209, 208, 208);
    background-color: rgb(190, 92, 11);
    text-align: center;
    color: black;
    text-decoration: none;
}

#coding_profile_snippets_img{
    margin-left: 100px;
    height: 300px;
    width: 50%;
}

#doc_heading{
    width: 320px;
}

.certificates{
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url('back-img.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate{
    position: relative;
    height: 80%;
    width: 80%;
    background-color: rgb(28, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate_viewer{
    height: 80%;
    width: 800px;
    overflow-x: auto;
    display: flex;
}

.certificate_img{
    height: 95%;
    width: 400px;
    padding: 0px 10px 0px 10px;
    transition: 1s;
}

.projects{
    position: relative;
    width: 100%;
    background-image: url('back-img.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_container{
    position: relative;
    width: 80%;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-wrap: wrap;
}

.project{
    height: 500px;
    width: 300px;
    margin: 15px;
    padding: 20px 0px 0px 20px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
}

.project_name{
    color: aliceblue;
}

.project_github_link{
    position: relative;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    border-radius: 2%;
    background-color: rgb(142, 141, 141);
    box-shadow: 0px 0px 5px 0px rgb(43, 42, 42);
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cab_book_project_feature{
    position: relative;
    margin-top: 20px;
    height: 500px;
    width: 80%;
    border: solid 1px white;
    background-size: 100% 100%;
    animation: cab_book_slider 20s infinite linear;
}

@keyframes cab_book_slider{
    0% { background-image: url('../img/cab_book_img_1.jpg'); }
    20% { background-image: url('../img/cab_book_img_1.jpg'); }
    25% { background-image: url('../img/cab_book_img_2.jpg'); }
    45% { background-image: url('../img/cab_book_img_2.jpg'); }
    50% { background-image: url('../img/cab_book_img_3.jpg'); }
    70% { background-image: url('../img/cab_book_img_3.jpg'); }
    75% { background-image: url('../img/cab_book_img_4.jpg'); }
    95% { background-image: url('../img/cab_book_img_4.jpg'); }
    100% { background-image: url('../img/cab_book_img_1.jpg'); } 
}

.show_project_link{
    position: relative;
    height: 40px;
    width: 110px;
    margin: 20px 0px 20px 0px;
    border-radius: 2%;
    background-image: url('small_box_back_img.png');
    background-size: cover;
    box-shadow: 0px 0px 5px 0px rgb(43, 42, 42);
    display: flex;
    align-items: center;
}

.arrow_link_logo{
    height: 20px;
    width: 20px;
}

#portfolio_web_project_features{
    position: relative;
    margin-top: 20px;
    height: 500px;
    width: 80%;
    border: solid 1px white;
    background-size: 100% 100%;
    animation: portfolio_slider 20s infinite linear;
}

@keyframes portfolio_slider{
    0% { background-image: url('../img/portfolio_proj_img_1.png'); }
    30% { background-image: url('../img/portfolio_proj_img_1.png'); }
    33% { background-image: url('../img/portfolio_proj_img_2.png'); }
    63% { background-image: url('../img/portfolio_proj_img_2.png'); }
    66% { background-image: url('../img/portfolio_proj_img_3.png'); }
    96% { background-image: url('../img/portfolio_proj_img_3.png'); }
    100% { background-image: url('../img/portfolio_proj_img_1.png'); } 
}